@media(max-width: 1200px) {
       
     .container{
      width: 1000px;
     }

     .nav__content{
      justify-content: space-around;
     }

     .left{
      height: 100%;
      margin: 0 auto;
      margin-bottom: 60px;
     }

     .main__box{
      flex-direction: column;
     }

     .box{
      width: 250px;
      margin: 0 auto;
     }
}
@media(max-width: 1060px) {
   .container{
      width: 800px;
   }
   .nav__content{
      column-gap: 70px;
   }

   .box{
      margin: 0 auto;
   }
   
}
@media(max-width: 845px) {
    
   .container{
      width: 770px;
   }

   .nav__content{
      justify-content: space-around;
      flex-wrap: wrap;
      
   }

    .logo{
      padding-top: 30px; 
      padding-bottom: 30px;
    }

   
}
@media(max-width: 800px) {
   
   .container{
      width: 500px;
    }

    .nav__content{
      flex-direction: column;
    }

    .ul__list{
      flex-direction: column;
      row-gap: 10px;
      justify-content: center;
      align-items: center;
    }

   .logo{
      margin: 30px 0 30px;
   }

   .left{
       margin-left: -5px;
       width: 450px;
   }

   .right{
      margin: 0 auto;
      margin-left: -20px;
   }

   .image{
      width: 450px;
   }

   .footer__box{
      display: block;
   }

   .footer__box-left{
      margin-left: 60px;
   }

   .list{
      justify-content: space-evenly;
      margin-top: 35px;
   }

}
@media(max-width: 600px) {
   
   .container{
      width: 400px;
   }

   .left{
      width: 350px;
      margin: 0 auto;
   }

   .boxone{
      margin-top: 50px;
   }

   .right{
      margin: 0 auto;
   }

   .box{  
      width: 240px;
   }

   .box__text{
        font-size: 14px;
   }

   .image{
      width: 350px;
   }

   .left__p{
      font-size: 13px;
   }

   .footer__input{
      width: 300px;
   }

   .footer__submit{
      width: 320px;
   }

   .ul__two{
      margin-left: 130px;
   }

   .ul__one{
      margin-left: 50px;
   }

}
@media(max-width: 490px) {
    
   .container{
      width: 370px;
     }

   .ul__list{
      margin: 0 auto;
     }

     .box{
      margin-left: 50px;
     }

     .left{
      margin-left: -15px;
     }

     .footer__box-left{
      margin-left: 60px;
     }

     .footer__submit{
       width: 280px;
     }

     .footer__input{
      width: 260px;
     }

     .ul__two{
      margin-left: 45px;
   }

   .ul__one{
      margin-left: 20px;
   }
     
}

@media(max-width: 420px) {
     
   .left{
      width: 270px;
      margin: 0 auto;
     }

   .image{
       width: 270px; 
     }

   .right{
       margin-left: 25px;
     }

   .box{
      width: 220px;
     }

   .left__h2{
      font-size: 18px;
     }

   .box__h4{
      font-size: 20px;
     }

}

@media(max-width: 400px) {

   .container{
      width: 270px;
   }

   .footer__box-left{
      margin-left: 10px;
   }
}

@media(max-width: 390px) {
   
   .container{
      width: 300px;
   }
   
   .link{
      font-size: 12px;
   }
   
   .right{
      margin-left: -15px;
   }


   .left{
      margin-left: -10px;
   }

   .footer__box-left{
      margin-left: 25px;
   }

}
@media(max-width: 330px) {
   
   .container{
      width: 280px;
   }

   h1{
      font-size: 30px;
   }

   .header__text{
      font-size: 15px;
   }

   .footer__box-left{
      margin-left: 10px;
   }

}